div.fbml-tag {
	margin-top: 20px;
	border: 1px solid blue;
}

.fbml-title a {
	font-size: 12px;
	font-weight: bold;
	line-height:18px;
}

div.fbml-title {
	margin-top: 10px;
}

.fbml-title h2 {
	color:#666666;
	font-size:16px;
	font-weight:normal;
	margin-bottom:16px;
}
