<?xml version="1.0" encoding="UTF-8"?>
<!--
    - Application context definition for Controller objects
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- data source and session factory -->
	<!--
	<bean id="facebookDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="${facebook.db.driver_class}" />
		<property name="jdbcUrl" value="jdbc:mysql://${facebook.db.host}:${facebook.db.port}/${facebook.db.schema}" />
		<property name="user" value="${facebook.db.username}" />
		<property name="password" value="${facebook.db.password}" />
    </bean>
    -->
    <bean id="facebookDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${facebook.db.driver_class}"/>
		<property name="url" value="jdbc:mysql://${facebook.db.host}:${facebook.db.port}/${facebook.db.schema}"/>
		<property name="username" value="${facebook.db.username}"/>
		<property name="password" value="${facebook.db.password}"/>
	</bean>

	<alias name="facebookDataSource" alias="dataSource"/>

    <bean id="facebookSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="facebookDataSource"/>
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
    </bean>

	<bean id="facebookHibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="facebookSessionFactory" />
		<property name="allowCreate" value="false" />
	</bean>

    <bean id="facebookTransactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="facebookSessionFactory"/>
	</bean>

	<bean id="userDao" class="com.google.code.facebookwebapp.model.dao.hibernate.HibernateUserDao">
        <property name="hibernateTemplate" ref="facebookHibernateTemplate" />
    </bean>

</beans>